In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
weight=[185,170,168,179,182,188,180,180,183,180,180,177]
height=[72,56,60,68,72,77,71,70,84,88,67,76]

In [5]:
ds=pd.DataFrame(list(zip(weight,height)),index =[i for i in range(1,13)],columns =['Height','Weight'])

In [30]:
ds

    Height  Weight
1      185      72
2      170      56
3      168      60
4      179      68
5      182      72
6      188      77
7      180      71
8      180      70
9      183      84
10     180      88
11     180      67
12     177      76

<style font-size:2rem;>finding no. of clusters</style>

<p style="font-size:2rem;font-weight:bold;">User input to cluster</p>

In [31]:
k=int(input(" Enter value of k"))

 Enter value of k2

In [32]:
#Selecting k clusters initially

In [47]:
cluster_points=[]
for i in range(k):
    cluster_points.append(list(ds.iloc[i,:]))

In [48]:
cluster_points

[[185, 72], [170, 56]]

In [49]:
dist=[]
k1=[]
k2=[]
def minimum_dist_point_index(d_forpoint):
    return d_forpoint.index(min(d_forpoint))

def eucliderian_distance(cluster_points,point):
    d_forpoint=[]
    for i in range(len(cluster_points)):
        d1=math.sqrt(((cluster_points[i][0]-point[0])**2)+((cluster_points[i][1]-point[1])**2))
        d_forpoint.append(d1)
    indx=minimum_dist_point_index(d_forpoint)
    cluster_points[indx][0]=(cluster_points[indx][0]+point[0])/2
    cluster_points[indx][1]=(cluster_points[indx][1]+point[1])/2
    if(indx==0):
        k1.append(point)
    else:
        k2.append(point)
    
for i in range(k,len(ds)):
    eucliderian_distance(cluster_points,list(ds.iloc[i,:]))

Final Centroids cluster1 is :[179.03125, 79.40625] and for cluster 2 is : [174.5, 62.5]

cluster 1 is having : [[179, 68], [182, 72], [188, 77], [180, 71], [180, 70], [183, 84], [180, 88], [177, 76]]

cluster 1 is having : [[168, 60], [180, 67]]

In [50]:
#Output
print("Final Centroids cluster1 is :"+str(cluster_points[0])+" and for cluster 2 is : "+str(cluster_points[1]))
print()
print(f"cluster 1 is having : {k1}")
print()
print(f"cluster 1 is having : {k2}")

Final Centroids cluster1 is :[179.03125, 79.40625] and for cluster 2 is : [174.5, 62.5]

cluster 1 is having : [[179, 68], [182, 72], [188, 77], [180, 71], [180, 70], [183, 84], [180, 88], [177, 76]]

cluster 1 is having : [[168, 60], [180, 67]]